/*背景色*/
.ag-charts-bg {
  background: #f6f6f6;
  overflow-y: hidden;
}

/*头部*/
.ag-charts-bg .aigo-header {
  position: fixed;
  z-index: 2;
}

/*外层*/
.ag-charts-bg .rx-wrap {
  padding-top: 50px;
}

/*内容*/
.ag-charts-content {
  height: 100%;
  overflow-y: auto;
}

/*右侧*/
.ag-charts-content .rx-page-component {
  padding: 0 30px 30px 270px;
}

/*侧边栏*/
.ag-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 240px;
  background: #fff;
  border-right: 1px solid #e7e7e7;
  padding: 65px 0px 15px 20px;
}

.ag-sidebar ul {
  height: 100%;
  overflow: auto;
  width: 100%;
}

.ag-sidebar ul li a {
  font-size: 14px;
  color: inherit;
  line-height: 32px;
}

.ag-sidebar ul li a:hover {
  color: #50aff2;
}

/*网格*/
.ag-col-1-1 {
  width: 100%;
}

.ag-col-1-2 {
  width: 50%;
}

/*边距*/
.ag-padding-left-large {
  padding-left: 15px;
}

.ag-padding-right-large {
  padding-right: 15px;
}

/*图表*/
.ag-chart-item {
  margin-top: 30px;
}

/*图表背景*/
.ag-chart-bg {
  background: #fff;
  box-shadow: 0 3px 14px rgba(110, 127, 136, .1);
}

/*每个图表*/
.ag-chart {
  width: 100%;
  height: 280px;
}


